<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<img class=" w-full h-[500px]" src="/images/philadelphia-skyline-in-panorama-fzj229taatnjvuqs.jpg">

<div class="text-center m-6 ">
    <a href="/dept/show" class="text-xl btn btn-sm bg-orange-600 text-black p-2 ">Department Management</a>
    <a href="/employee/show" class="text-xl btn btn-sm bg-orange-600 text-black p-2 ">Employee Management</a>
    <a href="/jobs/show" class="text-xl btn btn-sm bg-orange-600 text-black p-2 ">Job Management</a>
</div>

<hr>

<h2 class="text-xl text-center">
    Edit Job <span th:text="${job.getName()}"></span>
</h2>
<form class="max-w-md mx-auto my-4" method="post" action="/jobs/update">
    <input type="hidden" name="id" th:value="${job.getId()}">
    <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-5 group">
            <input type="text" name="name" id="job" th:value="${job.getName()}"
                   class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                   placeholder="" required/>
            <label for="name"
                   class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                Name</label>
        </div>
        <div class="relative z-0 w-full mb-5 group">
            <input type="text" name="salary" id="salary" th:value="${job.getSalary()}"
                   class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                   placeholder="" required/>
            <label for="salary"
                   class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                Salary</label>
        </div>
    </div>
    <button type="submit"
            class="text-white bg-blue-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-orange-700 dark:focus:ring-blue-800">
        Submit
    </button>
</form>
</body>
</html>