

<footer class="bg-gradient-to-r from-black to-orange-200 h-16 font-bold text-white py-2 px-16 flex sm:flex-row flex-col">
  <p class="sm:w-1/2 w-full mt-2">&copy; 2025 Power Muscle All rights reserved</p>
  <div class="flex mx-auto justify-center sm:justify-end sm:w-1/2 w-full sm:mt:0 mt-2">

    <a class="mx-2" href="#"><img src="/icons/facebook.png" alt=""></a>
    <a class="mx-2" href="#"><img src="/icons/logos.png" alt=""></a>
    <a class="mx-2" href="#"><img src="/icons/telegramm.png" alt=""></a>
    <a class="mx-2" href="#"><img src="/icons/whatsapp.png" alt=""></a>
    <a class="mx-2" href="#"><img src="/icons/instagram.png" alt=""></a>
  </div>

</footer>

