

<nav class="fixed w-full bg-gradient-to-r from-black to-orange-200">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 sm:py-1 py-3">
        <div class="relative flex h-16 sm:flex-row flex-col items-center justify-between">

            <div class="flex sm:flex-row flex-col flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex   shrink-0 items-center sm:py-1 py-4">

                    <img class="h-8 w-auto" src="/icons/weight (2).png" alt="Your Company">
                    <h1 class="text-2xl text-white px-8">POWER MUSCLE</h1>
                </div>
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <!-- Current: " -->
                        <a href="/"
                           class="rounded-md px-3 py-2 text-sm font-medium text-orange-400 text-xl hover:bg-gray-700 hover:text-white">Home</a>
                        <a href="/products/view"
                           class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-gray-700 hover:text-white">Products</a>
                        <!-- <a href="users.html" class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-gray-700 hover:text-white">Users</a> -->
                        <a href="/dashboard" class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-gray-700 hover:text-white">Dashboard</a>
                        <span th:if="${user ==null}">
                        <a href="/login"
                           class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-gray-700 hover:text-white">Login</a>
                        </span>
                        <a href="/register"
                           class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-gray-700 hover:text-white">Register</a>
                        <span th:if="${user !=null}">
                        <a href="/logout"
                           class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-gray-700 hover:text-white">LogOut</a>
                        </span>
                    </div>
                </div>
            </div>

            <form class="flex items-center space-x-2">
                <input type="search" placeholder="Search"
                       class="px-4 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-orange-400">
                <button type="submit"
                        class="border border-black px-4 py-2 bg-orange-400 text-black rounded hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-green-300">
                    Search
                </button>
                <a href="/cart"
                   class="rounded-md  mx-2 px-3 py-2 text-sm font-medium text-white hover:bg-orange-500 hover:text-white"
                    ><img src="/icons/forklift.png" alt=""></a>
            </form>



        </div>
    </div>
    </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
        <div class=" px-2 pb-3 pt-12">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->

            <a href="#"
               class="block rounded-md px-3 py-1 text-base font-medium text-white hover:bg-gray-700 hover:text-white">Home</a>
            <a href="#"
               class="block rounded-md px-3 py-1 text-base font-medium text-white hover:bg-gray-700 hover:text-white">Products</a>
            <a href="#"
               class="block rounded-md px-3 py-1 text-base font-medium text-white hover:bg-gray-700 hover:text-white">Cart</a>
            <a href="#"
               class="block rounded-md px-3 py-1 text-base font-medium text-white hover:bg-gray-700 hover:text-white">Dashboard</a>
            <a href="#"
               class="block rounded-md px-3 py-1 text-base font-medium text-white hover:bg-gray-700 hover:text-white">Login</a>
        </div>
    </div>
</nav>

